#news {
    width: 100%;
    display: flex;
    justify-content: space-around;
    .news-wrap {
        width: 50%;
        margin-top: 30px;
        padding-top: 30px;
        margin-bottom: 30px;
        padding-bottom: 30px;
        border: solid;
        border-width: 1px;
    }
    :last-child{
        border-right:none;
        border-left: none;
        p {
            margin-left: 0;
            text-align: center;
        }
    }
    :first-child {
        border-right: none;
        border-left: none;
        p {
            margin-left: 0;
            text-align: center;
        }
    }
}

table {
    margin: 0 auto;
}


tr {
    border-bottom: solid black;
    border-top: none;
    border-left: none;
    border-right: none;
    border-width: 1px;
}